<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
    <body>
        <p><h1 align="center">Please Input Login Details </h1></p>

        <form action="/login" method="POST">
            <p><input type="text" name="name" placeholder="Name" align="center" pattern="*[A-Za-z]" required></p>
            <p><input type="password" name="password" placeholder="password" align="center" required></p>
            <p><input type="submit" name="submit" align="center"></p>
        </form>

    </body>
</html>
